# Сцены и префабы Unity мерджим с использованием умного слияния
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf

# Изображения и binary-файлы запрещаем мерджить как текст
*.png binary
*.jpg binary
*.fbx binary
*.anim binary
*.controller binary